body {
  background-color: beige;
}

input,
button {
  margin: 10px;
  padding: 5px;
}

.amarillo {
  color: yellow;
}

.verde {
  color: green;
}

.naranja {
  color: orange;
}

.rojo {
  color: red;
}

.negro {
  color: black;
}